%h2 Your search terms:

%table
  %thead
    %tr
      %td
        Term
      %td
        Expired?
      %td
        Created At
      %td
        Canceled At
  %tbody
    - @search_terms.each do |search_term|
      %tr
        %td
          = search_term.term
        %td
          = search_term.expired
        %td
          = search_term.created_at
        %td
          Canceled??

