<%= form_for(@search_term) do |f| %>
  <% if @search_term.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search_term.errors.count, "error") %> prohibited this search_term from being saved:</h2>

      <ul>
      <% @search_term.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field-container">
      <div class="field">
        <input id="search_term_term" name="search_term[term][]" type="text" style="background-image: none; background-position: 0% 0%; background-repeat: repeat;">
      </div>
    </div>
    <a id="add-terms-button" href="#">Add Another Term</a>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script>
    $("#add-terms-button").click(function(){
        $(".field-container").append('<div class="field"><input id="search_term_term" name="search_term[term][]" type="text" style="background-image: none; background-position: 0% 0%; background-repeat: repeat;"></div>')
    })
</script>